body{
    background-image: url(kep2edited.png);
    background-repeat: no-repeat;
    color: whitesmoke;
}

h1{
    font-variant-caps: all-petite-caps;
    text-align: center;
}

.kep{
    width: 299px;
}



.szia {
    width: 500px;
} 
a{
    text-align: center;
}