body{
    background-image: url(kep2edited.png);
    background-repeat: no-repeat;
    color: whitesmoke;
}

h1{
    font-variant-caps: all-petite-caps;
    text-align: center;
}

#kep{
    height: 350px;
}

#kep2{
    width: 300px;
}